.contact h2 {
  color: var(--color-secondary);
  margin: 40px 15%;
  font-size: 56px;
  font-family: "belle-allure";
  width: 100%;
  line-height: initial;
}

.presentation {
  font-size: 22px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 50%;
  padding: 0 30px 0 15%;
  text-align: right;
}
.col:last-child {
  padding: 0 15% 0 30px;
  text-align: left;
  border-left: 1px solid var(--color-secondary);
}

.col > p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 22px;
}

.col > p.label {
  color: var(--color-secondary);
  font-size: 0.85em;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .contact h2 {
    margin: 40px 30px;
    font-size: 30px;
  }

  .col,
  .col:last-child {
    width: 100%;
    padding: 0 30px;
    text-align: left;
    border: none;
  }
  .col > p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 22px;
  }

  .col > p.label {
    color: var(--color-secondary);
    font-size: 14px;
    margin-bottom: 5px;
  }
  .presentation {
    margin-bottom: 60px;
  }
}
